/* General container styling */
.stock-container {
    padding: 40px;
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 80vw;
    height: 64vh;
    margin-bottom: 160px;
    font-size: 30px;
}

.page-title {
    font-size: 3rem;
    padding-top: 80px;
    padding-bottom: 40px;
    margin: 0;
    color: #333;
}

/* Section titles */
.section-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

.watchlist-container {
    width: min-content;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Stock list styling */
.stock-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.stock-item {
    display: flex;
    align-items: center;
    justify-content: start;
}

.stock-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.stock-name {
    font-weight: bold;
    margin-right: 5px;
}

.stock-price {
    font-weight: normal;
    margin-right: 10px;
}

/* Percentage change styling for positive and negative values */
.stock-percentage {
    font-weight: bold;
}

.positive-change {
    color: green;
}

.negative-change {
    color: red;
}

.sp-container {
    height: 100%;
    min-width: 750px;
}

.sp-subtitle {
    font-size: 23px;
    margin: 0 0 20px;
}

.graph-wrapper {
    margin: 0 auto 10px;
    overflow: hidden;
    border-radius: 12px;
}

.img-graph {
    width: 100%;
    height: auto;
    margin: 0;
}

.sp500-change {
    margin-top: 15px;
    color: red;
    font-weight: bold;
}

@media (max-width: 992px) {
    .sp-container {
        min-width: unset;
    }

    .graph-wrapper {
        max-width: 100%;
        max-height: 400px;
    }

    .img-graph {
        transform: translateY(-50px);
    }
}

/* Green color for positive change */
.sp500-change.positive-change {
    color: green;
}
