html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body {
    background-color: #f0f0f0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img.img-fluid {
    max-width: 100px;
}

.img-graph {
    width: 100%;
    height: auto;
}

.weekly-forecast .col {
    margin: 10px 0;
}

.weekly-forecast img {
    width: 50px;
}

h6 {
    font-weight: bold;
}

/* Footer Styling */
.footer {
    background-color: #343a40; /* Darker background */
    color: #ffffff;           /* White text */
    padding: 20px !important; /* Padding for breathing room */
    font-size: 1.8rem;        /* Slightly larger font */
    border-top: 2px solid #495057; /* Border to separate the footer from the content */
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.footer-info {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 32px;
}

.footer-info .info-item {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
    justify-content: center;
}

.footer-info .info-item span {
    font-size: 2rem;
}


#current-time {
    font-size: 2.4rem; /* Larger time display */
}
