html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #f0f0f0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#weather-temp {
    font-size: 4.5rem;
    font-weight: bold;
    color: #333;
}

img.img-fluid {
    max-width: 100px;
}

.img-graph {
    width: 100%;
    height: auto;
}

.weekly-forecast .col {
    margin: 10px 0;
}

.weekly-forecast img {
    width: 50px;
}

h6 {
    font-weight: bold;
}

/* Footer Styling */
.footer {
    background-color: #343a40; /* Darker background */
    color: #ffffff;           /* White text */
    padding: 20px !important; /* Padding for breathing room */
    font-size: 1.6rem;        /* Slightly larger font */
    border-top: 2px solid #495057; /* Border to separate the footer from the content */
}

.footer .d-flex {
    align-items: center; /* Vertically center the items in the footer */
}

.footer .d-flex-inner {
    display: flex !important;
    justify-content: space-between;
    width: 75%;
}

#current-time {
    font-size: 2.1rem; /* Larger time display */
}

#weather-icon {
    margin-right: 10px; /* Space between icon and text */
}