{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Left side: Head-to-Head and Total Goals -->
    <div>
      <h2>Head-to-Head</h2>
      <!-- Head-to-Head Table -->
      <div class="table-responsive">
        {{ head_to_head|safe }}  <!-- Rendered HTML table from Pandas -->
      </div>

      <h2>Total Goals</h2>
      <!-- Total Goals Table -->
      <div class="table-responsive">
        {{ total_goals|safe }}  <!-- Rendered HTML table from Pandas -->
      </div>

      <h2>Recent Games</h2>
      <!-- Recent Games Table -->
      <div class="table-responsive">
        {{ recent_games|safe }}  <!-- Rendered HTML table from Pandas -->
      </div>
    </div>
  </div>
</div>
{% endblock %}