<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% extends 'base.html' %}

{% block content %}
<div class="news-container">
    <!-- News -->
    <div class="row-title">News</div>
    <div class="row news-grid">
        {% for article in news_data %}
        <div class="col news-card">
            <div class="card">
                {% if article.image %}
                <img src="{{ article.image }}" class="card-img-top" alt="Image for {{ article.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <div class="card-text-container">
                        <p class="card-text url">{{ article.url }}</p>
                        <p class="card-text date">{{ article.publish_date }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
