<link rel="stylesheet" href="{{ url_for('static', filename='css/stocks.css') }}">
{% extends 'base.html' %}

{% block content %}
<h1 class="page-title">Stock Market</h1>
<div class="stock-container">
    <!-- Stock Prices Section -->
    <div class="watchlist-container">
        <h1 class="section-title" style="margin-bottom: 3px;">Watchlist</h1>
        <h4 style="font-size: 21px; margin-bottom: 20px;">Current Price | 1 Day % Change</h4>
        <ul class="stock-list">
            {% for stock in stock_prices %}
            <li class="stock-item">
                <img src="https://assets.parqet.com/logos/symbol/{{ stock.symbol }}?format=png" alt="{{ stock.symbol }} logo" class="stock-logo">
                <span class="stock-name">{{ stock.symbol }}:</span>
                <span class="stock-price">${{ stock.price | round(2) }}</span>
                <span class="stock-percentage {% if stock.percentage_change > 0 %}positive-change{% else %}negative-change{% endif %}">
                    ({{ stock.percentage_change }}%)
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- S&P 500 Section -->
    <div class="sp-container col-lg-6 col-md-12 text-center">
        <h1 class="section-title" style="margin-bottom: 20px;">S&P 500</h1>
        <img src="data:image/png;base64,{{ sp500_graph }}" alt="S&P 500 Graph" class="img-graph">
        <div class="sp500-change {% if sp500_change[0] > 0 %}positive-change{% endif %}">
            <span>{{ sp500_change[0] | round(2) }}</span> <span>({{ sp500_change[1] | round(2) }}%)</span>
        </div>
    </div>
</div>
{% endblock %}
